.card {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  background-color: #455556;
  color: white;
}

.cardImagen {
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  margin: 0;
}

.cardDescription {
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding-left: 20px;
  font-weight: 400;
}
.cardContenido {
  position: relative;
  padding-top: 40px;
}
.cardBtn {
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: white;
  border: none;
  position: absolute;
  margin-top: -15px;
  margin-left: 550px;
}
.cardHeart {
  font-size: 40px;
  border: none;
  position: absolute;
  background-color: transparent;
}
.cardBtn:hover {
  background-color: red;
  color: white;
}
.cardTitle {
  text-align: left;
  margin: 0;
  padding-left: 20px;
}

.cardName {
  font-size: 40px;
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white
}

.cardName:hover{
  color: #fdcb6e;
}

.cardName:focus{
  color: #fdcb6e;
  border-bottom: 1px solid;
}


.cardSubtitle {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.description1 {
  color: #bdc3c7;
  font-size: 18px;
}
.description2 {
  color: #ffffff;
  font-size: 28px;
}

.card:hover {
  transform: scale(1.05);
  background-color: #859596;
}
