.card{
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dff9fb;
}

.imagenPersonaje{
    width: 100%;
    object-fit: cover;
}

.cardName{
    padding: 1rem;
    background-color: #71CA14;
}

.card:hover{
    transform: scale(1.02);
    background-color: #c7ecee;
}