.card{
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dff9fb;
}

.imagenPersonaje{
    width: 100%;
    position: relative;
}

.cardName{
    padding: 1rem;
    background-color: #71CA14;
    padding: 10%;
    margin: 0px;
}
.cardDescription{
    margin: 0.3rem;
}

.card:hover{
    transform: scale(1.02);
    background-color: #c7ecee;
}