.searchBar{
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.searchSpace{
    font-size: 40px;
}

.searchSpace input{
    
}